<launch>
    <node name="blocking_bar" pkg="deu_car" type="blocking_bar.py"/>
    <node name="stop_line" pkg="deu_car" type="detect_stop_line.py"/>
    <node name="detect_stop_sign" pkg="deu_car" type="detect_stop_sign.py"/>
    <node name="obstacle" pkg="deu_car" type="detect_obstacle.py"/>
</launch>
